<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">

    <Properties>
        <Property name="basePath">/opt/logs/salesforce-interface</Property>
    </Properties>

    <Appenders>

        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %m %n"/>
        </Console>

        <RollingFile name="Salesforce Interface"
                     fileName="${basePath}/salesforce-interface.log"
                     filePattern="${basePath}/salesforce-interface-%d{yyyy-MM-dd}.log.gz">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %m %n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>

    </Appenders>

    <Loggers>
        <Logger name="com.thermax" level="INFO" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="Salesforce Interface"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="Salesforce Interface"/>
        </Root>
    </Loggers>

</Configuration>